.file-upload {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .import {
        display: flex;
        gap: 1rem;
        align-items: center;
        flex-wrap: wrap;

        input {
            width: 100%;
        }
    }

    #download-btn {
        text-decoration: none;
        color: white;
    }
}